@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap");
@import "tailwindcss";

body {
  font-family: "Vazirmatn";
  margin: 0;
  padding: 0;
}
.animate-enter {
  animation: enter 0.3s ease-out;
}

.animate-leave {
  animation: leave 0.3s ease-in;
}

@keyframes enter {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes leave {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}
