#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #F69B0D; /* Indigo 500 or change as needed */
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 2px;
}

#nprogress .peg {
  display: none;
}
